/*Online Portfolio Project*/

/*color guide*/

/*general*/

/*headings*/

/*img width*/

/*links*/

/*buttons*/

/*
Colors used:
Background Color (White): #ffffff;
Primary Color (Black): #000000;
Secondary Color (Dust Rose): #824a48;
Accent Color 1 (Light Rose): #dabebd;
Accent Color 2 (Gray): #d9d9d9;
*/

body {
    background-color:#ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
}

h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.00em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.25em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.00em;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  a {
    color: #000000;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #000000;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  a:visited { /* visited link */
    color: #585858;
  }
  a:active { /* selected link */
    color: #824a48;
  }
  a:hover,
a:focus {
  color: #585858;
  text-decoration: underline;
}

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #dabebd;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 40px;
    border-bottom: 2px solid #824a48; /* width of the border, type, color */
    transition: 0.2s opacity;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }

  .button:active {
    opacity: 0.8; 
    text-decoration: none;
  }

  .button.contact {
    background-color:transparent;
    color: #824a48;
    text-transform: uppercase;
    border: 2px solid #824a48;
  }

  .button.contact:hover {
    background-color: #824a48;
    color: #ffffff;
  }